{% extends "layout.html" %}
{% block content %}
<div class="container" style="background: pink; height: 100vh;">
  <div style="height:10%">
    <h1 class="text-center" style="height: 10%;">test</h1>
  </div>
    <div class="row" style="height: 90%;">
    <div class="col-md-4" style="background: orange;">
      <!-- 地域選択フォーム -->
      <form action="/select_area" method="post" class="form-inline">
        <div class="form-group m-3">
          <label for="area">地域：</label>
          <select name="area" onchange="submit(this.form)" class="form-control">
            <option value="">選択してください</option>
            {% for area in areas %}
              {% if area["id"] == area_id %}
                <option value="{{ area["id"] }}" selected>{{ area["name"] }}</option>
              {% else %}
                <option value="{{ area["id"] }}">{{ area["name"] }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </form>
      <!-- //地域選択フォーム -->
      <!-- 蔵元選択フォーム -->
      <form action="/select_brewery" method="post" class="form-inline">
        <div class="form-group m-3">
          <label for="brewery">蔵元：</label>
          <select name="brewery" onchange="submit(this.form)" class="form-control">
            {% for brewery in breweries %}
              {% if brewery["id"] == brewery_id %}
                <option value="{{ brewery["id"] }}" selected>{{ brewery["name"] }}</option>
              {% else %}
                <option value="{{ brewery["id"] }}">{{ brewery["name"] }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <!-- 地域情報の維持 -->
          <input name="area" type="hidden" value="{{ area_id }}">
        </div>
      </form>
      <!-- //蔵元選択フォーム -->
      <!-- 銘柄選択フォーム -->
      <form action="/select_brand" method="post" class="form-inline">
        <div class="form-group m-3">
          <label for="brand">銘柄：</label>
          <select name="brand" onchange="submit(this.form)" class="form-control">
            {% for brand in brands %}
              {% if brand["id"] == brand_id %}
                <option value="{{ brand["id"] }}" selected>{{ brand["name"] }}</option>
              {% else %}
                <option value="{{ brand["id"] }}">{{ brand["name"] }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <!-- 地域情報、蔵元情報の維持 -->
          <input name="area" type="hidden" value="{{ area_id }}">
          <input name="brewery" type="hidden" value="{{ brewery_id }}">
        </div>
      </form>
      <!-- //銘柄選択フォーム -->
      <!-- 初期化ボタン -->
      <div>
        <button type="button" class="btn btn-primary" onclick="location.href='/'">初期化</button>
      </div>
      <!-- //初期化ボタン -->
    </div>
    <div class="col-md-8 d-flex justify-content-center align-items-center" style="background: brown;">
      {{area_id}},{{brewery_id}},{{brand_id}}
    </div>
  </div>
</div>
{% endblock %}